* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #eaefef;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "Comic Sans MS", cursive;
  font-weight: 200;
}

footer {
  position: static; /* or remove position */
  width: 100%;
  height: 2.5rem;
  text-align: center;
  margin-top: auto; /* keeps it bottom in flex layout */
}

footer p {
  color: #585757;
}
.note {
  border-radius: 0px;
  width: 240px;
  height: 240px;
  margin: 16px;
  float: left;
  color: #2e2c2c;
  text-decoration: none;
  padding: 1rem;
  background: #ffc;
  display: block;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(-4deg);
  position: relative;
  font-family: "Comic Sans MS";
  transition: transform 0.25s linear;
}

.note:nth-child(even) {
  background: #cfc;
  transform: rotate(4deg);
  top: 5px;
}

.note:nth-child(3n) {
  background: #ccf;
  transform: rotate(-3deg);
  top: -5px;
}

.note:nth-child(5n) {
  transform: rotate(5deg);
  top: -10px;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.note:hover {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  z-index: 5;
}

.note p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-right: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7; /* Количество строк */
  overflow: hidden;
}

.note button {
  position: absolute;
  background-color: transparent;
  top: 10px;
  right: 10px;
  margin-right: 0;
  color: #93c4e0;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 400px;
  margin: 30px auto 20px auto;
  background: #fff;
  background-color: #fff9c4;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  transform: rotate(2deg) scale(1.05);
  transition: transform 0.2s ease-in-out;
  font-family: "Comic Sans MS";
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

html, body, #root {
  min-height: 100%;
  height: 100%;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1 1 auto;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
}
